@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ FIX: Adapts to dark mode so overscroll area isn't white */
body {
  @apply bg-slate-50 dark:bg-[#020617] text-slate-900 dark:text-slate-100;
}


/* ✅ Hides scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* ✅ Hides scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}